<launch>
  <!-- Charger robot_description directement depuis le fichier URDF -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find R_PX0)/urdf/R_PX0.urdf'" />

  <!-- Démarrer robot_state_publisher -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    output="screen" />

  <!-- Démarrer RViz avec le bon fichier de config -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find R_PX0)/rviz/urdf.rviz" />
</launch>

