<launch>
  <!-- 1. Charger le robot_description depuis URDF -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find R_PX0)/urdf/R_PX0.urdf'" />

  <!-- 2. Lancer Gazebo avec le monde personnalisé -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- 3. Spawner le modèle dans Gazebo -->
  <node name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param robot_description -urdf -model R_PX0"
        output="screen" />

  <!-- 4. Charger les paramètres des contrôleurs -->
  <rosparam file="$(find R_PX0)/config/control.yaml" command="load" />

  <!-- 5. Lancer les contrôleurs (joint_state_controller obligatoire) -->
  <node name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        args="joint_state_controller"
        output="screen" />
</launch>

