<launch>
  <!-- 1. Start Gazebo simulation with your robot -->
  <include file="$(find R_PX0)/launch/gazebo.launch" />

  <!-- 2. Ensure simulation time is used -->
  <param name="use_sim_time" value="true" />

  <!-- 3. Launch GMapping -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="base_footprint"/>
    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="2.0"/>
    <param name="delta" value="0.05"/>
    <param name="linearUpdate" value="0.2"/>
    <param name="angularUpdate" value="0.2"/>
    <param name="particles" value="80"/>
    <param name="minimumScore" value="100"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="maxUrange" value="6.0"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

  <!-- 4. Launch RViz with a custom config -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find R_PX0)/rviz/slam.rviz"/>
</launch>

